.section {
  position: relative;
  color: var(--color-white);
  padding: 20px;
  background-color: var(--color-black);
}

.sectionTopText {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.firstHeading {
  font-size: 16px;
  color: var(--color-white);
}

.secondHeading {
  font-size: 12px;
  color: var(--color-primary);
  cursor: pointer;
}

.albumGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 1px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.sectionBottomLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 2px;
  background-color: green;
}
